<aside>
    <div id="photo-shelf">
        {{#each filters as | filter |}}
        <div class="photo-filter">
            <div class="aside-image" id="photo-{{filter}}" style="filter:{{filter}}(100%)"></div>
            <button id="button-{{filter}}" type="button">{{filter}}</button>
        </div>
        {{/each}}
    </div>
    <button type="button" id="photo-burger"></button>
</aside>
<div id='photo-window'>
    <p id="photo-path">{{currentRoute}}{{fileName}}</p>
    <canvas id="photo-frame"></canvas>
    <div class="button-group">
        <button type="button" id="save-photo">Zapisz zmiany</button>
        <button type="button" id="preview-photo">Podgląd zdjęcia</button>
        <button type="button" id="rename-photo">Zmień nazwę</button>
    </div>
</div>
<dialog id='renameDialog'>
    <h2 id='submitHeading'>Podaj nową nazwę</h2>
    <form id='submitRenameForm' onsubmit="return validateNewName(this)" action="javascript:void(0)">
        <input type="hidden" name="newRoute" value="{{currentRoute}}">
        <input type='text' name='entityName' id='inpName' pattern='^[^<>:&#147\/\\|?*\x00-\x1F]+[^ .\\\/&#147]$'
            required />
        <div class='form-group'>
            <button type='submit' id='btnSubmitDialog'>Potwierdź</button>
            <button type='button' id='btnCloseRenameDialog'>Anuluj</button>
        </div>
    </form>
</dialog>

<script defer type="text/javascript" src="photosScript.js"></script>